<div class="container">
  <div class="text-center">
    <h2 class="head">
      عرض اليوم
      <hr class="hrs" />
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img
            src="../../../assets/img/AR2448_ts1555578089.jpg"
            class=""
            width="350px"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-space-around flex-column">
      <br />
      <br />

      <h2>AR2434 ساعة ارمينى</h2>

      <br />
      <br />
      <h5>
        للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو نموذج
        افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع ...
      </h5>
      <br />
      <br />
      <h3>
        <span style="text-decoration: line-through;">2250 ج. م</span>
        1900 ج. م
      </h3>
      <br />
      <div class="row">
        <button class="btn btn-primary col-md-5" (click)="AddToCart()">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          اضافة الى السلة
        </button>
        <br />
        <div class="btn btn-danger col-md-5 offset-md-1 text-white">
          <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
          صفحة لمنتج
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
