<div class="container text-center">
  <div class="row">
    <div class="mt-5 mb-3 col-md-6 col-xs-10 offset-md-3">
      <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">تسجيل مستخدم جديد</h1>
        <input
          id="firstName"
          class="form-control mb-4"
          placeholder="الاسم الاول "
          required
          autofocus
        />
        <input
          id="lastName"
          class="form-control mb-4"
          placeholder="الاسم الاخير  "
          required
          autofocus
        />
        <input
          id="inputUser"
          class="form-control mb-4"
          placeholder="اسم المستخدم "
          required
          autofocus
        />
        <input
          type="email"
          id="inputEmail"
          class="form-control mb-4"
          placeholder="البريد الاليكترونى  "
          required
          autofocus
        />

        <input
          type="password"
          id="inputPassword"
          class="form-control mb-4"
          placeholder="كلمة السر "
          required
        />
        <button class="btn btn-primary btn-block" type="submit">
          تسجيل مستخدم
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
      </form>
    </div>
  </div>
</div>
