<div class="bg-grey" style="margin: 10px auto;">
  <div class="container">
    <!-- Card ticket -->
    <div class="flex-grid grid--gutters grid-cell--is-half">
      <div class="grid-cell cell-column">
        <h3 class="heading--centred">تقيمات المستخدمين</h3>
        <div class="card card--ticket cell-gutter">
          <div class="card__wrapper card__wrapper--padded">
            <h3 class="card__title">
              ص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم
            </h3>
            <div class="card__body">
              للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو
              نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
            </div>
            <div class="layer">
              <div class="card__stamp">محمد الديسطى</div>
              <div class="rate">
                <span class="rate--amount">3.6</span>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
              </div>
            </div>
            <div class="card__body--mini">15 مارس , 2017 |الدقهلية</div>
          </div>
        </div>
        <!-- Card ticket -->
        <div class="card card--ticket">
          <div class="card__wrapper card__wrapper--padded">
            <h3 class="card__title">تعرض على العميل ليتصور طريقه</h3>
            <div class="card__body">
              للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو
              نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
            </div>
            <div class="layer">
              <div class="card__stamp">الدديسطى</div>
              <div class="rate">
                <span class="rate--amount">3.6</span>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
                <i class="fa fa-star icon-gold"></i>
              </div>
            </div>
            <div class="card__body--mini">15 مارس , 2017 |الدقهلية</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
