<div class="body bg-dark text-white py-5 text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <i
              class="fa fa-rocket fa-5x"
              style="color: rgb(247, 7, 247);"
              aria-hidden="true"
            ></i>
          </div>
          <div class="col-md-8">
            <h2>
              توصيل سريع و مجانى
            </h2>
            <p>
              للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو
              نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع
              ...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <i
              class="fa fa-money  fa-5x  "
              style="color: rgb(141, 226, 5);"
            ></i>
          </div>
          <div class="col-md-8">
            <h2>
              خدمة استرجاع الاموال
            </h2>
            <p>
              للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو
              نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع
              ...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <i
              class="fa fa-headphones  fa-5x "
              style="color: rgb(19, 83, 221);"
              aria-hidden="true"
            ></i>
          </div>
          <div class="col-md-8">
            <h2>
              خدمة عملاء وخدمة ما بعد البيع
            </h2>
            <p>
              للمصممين نص لوريم ايبسوم بالعربي عربي انجليزي لوريم ايبسوم هو
              نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع
              ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
