<div class="footer-dark mt-3">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>المنتجات</h3>
          <ul>
            <li><a href="#">افضل المنتجات </a></li>
            <li><a href="#">احدث المنتجات </a></li>
            <li><a href="#">كل المنتجات </a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>من نحن</h3>
          <ul>
            <li><a href="#">عن الشركة </a></li>
            <li><a href="#">فريق العمل </a></li>
            <li><a href="#">الوظائف </a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>زون ستور</h3>
          <p>
            طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف
            عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها
            تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي
            وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن
            النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من
            المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
            ومختلفة من نص لوريم إيبسوم،
          </p>
        </div>
        <div class="col item social">
          <a target="_blank" href="https://www.facebook.com/Diyasty/"><i class="icon fa fa-facebook"></i></a
          ><a target="_blank" href="https://www.linkedin.com/in/diyasty/
          "><i  target="_blank" class="icon fa fa-github"></i></a
          ><a href="https://www.linkedin.com/in/diyasty/"><i class="icon fa fa-linkedin"></i></a
           > </div>
      </div>
      <p class="copyright">زون ستور© جميع الحوق محفوظة 2020</p>
      <h4 class="mt-2 py-2 " style="text-align: center;">
        صمم بكل
        <i style="color: red;" class="fa fa-heart	"></i>
        محمد الديسطى
      </h4>
    </div>
  </footer>
</div>


