<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 550px;">
      <img src="../../../assets/img/w8x.png" class="d-block w-100" alt="..." />

      <div class="carousel-caption d-none d-md-block">
        <h2>احدث العروض</h2>
        <p>افضل عرض بافضل سعر بضغطة زر</p>
        <button class="btn btn-danger">
          اشترى الان
        </button>
      </div>
    </div>
    <div class="carousel-item" style="height: 550px;">
      <img src="../../../assets/img/w1.jpg" class="d-block w-100" alt="..." />

      <div class="carousel-caption d-none d-md-block">
        <h5>اختر ما بين</h5>
        <p>
          افضل المنتجات التى تناسبك وارخص من سعر السوق

          <button class="btn btn-danger">
            صفحة العروض
          </button>
        </p>
      </div>
    </div>
    <div class="carousel-item" style="height: 550px;">
      <img src="../../../assets/img/w7x.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-sm-block">
        <h5>عروض ضخمة اشترى الان</h5>
        <p>
          وتمتع بخصم30% على جميع المنتجات استعمل كود الخصم لاول مرة
          <button class="btn btn-danger">
            1stTime
          </button>
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">التالى </span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">السابق </span>
  </a>
</div>
<app-best-products></app-best-products>
