.table {
  background: #9d50bb85;

  td {
    border: 2px solid #f1f2f7;
  }
}
.thead {
  background: #9d50bb85; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6e48aa8a,
    #9d50bb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e9ba8e, #10e41b);
  color: #fff;
}
